#include "gui.h"

IDR_POPUPMENU MENU
BEGIN
    POPUP "TrayMenu"
	BEGIN
		MENUITEM "Show Flyout", IDM_FLYOUT
    	MENUITEM "Options", IDM_OPTIONS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
END