#include "inc/resources.h"

IDR_TRAY_POPUPMENU MENU
BEGIN
    POPUP "TrayContextMenu"
	BEGIN
		MENUITEM "Open", IDM_TRAY_OPEN
    	MENUITEM "Options", IDM_TRAY_OPTIONS
		MENUITEM "About", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_TRAY_EXIT
	END
END
